/**************************
 HEADER
**************************/

header#header {
    margin-top: 10px;
}

header#header ul{
    margin: 0;
}

header#header .container .company-name {
    height: 80px;
}

header#header .container .company-name img{
    height: 80px;
    width: 350px;
    margin-top: 10px;
}

header#header .container .company-name .logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    height: 80px;
    width: 200px;
    background-position: 1rem 1rem;
}

header#header .container .company-name h1{
    font-weight: bold;
    color: green;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.37);
}

header#header .container .menu ul li:first-child{
    padding-left: 0;
}

header#header .container .menu ul li{
    padding: 0 2rem;
}

header#header .container .menu ul li a{
    color: #5f5d5d;
    font-size: 2rem;
}

header#header .container .menu ul li a:hover{
    text-decoration: none;
}

header#header .container .menu .navbar {
    min-height: auto;
    margin-top: 20px;
}

header#header .container .menu .navbar .navbar-collapse {
    border: 0;
    overflow: hidden;
}

header#header .container .menu .navbar .navbar-header .navbar-brand{
    display: none;
    font-weight: bold;
    color: green;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.37);
    font-size: 3rem;
}

header#header .container .menu .navbar-default {
    background: none;
    border: none;
}

header#header .container .menu .navbar #bs-example-navbar-collapse-1{
    padding-left: 0;
    padding-right: 0;
}

header#header .container .menu .navbar #bs-example-navbar-collapse-1 ul li a{
    padding: 0;
}

header#header .container .menu .navbar #bs-example-navbar-collapse-1 ul li a:hover{
    background: none;
    color: #000;
}

header#header .images-menu {
    margin-left: -15px;
    margin-right: -15px;
}

header#header .images-menu .container {
    width: 100%;
}

header#header .images-menu .container img{
    width: 100%;
    margin-top: -60px;

}

header#header .after-header{
    height: 90px;
    border: 1px solid black;
    background: #e1e1e1;
}

header#header .sprite {
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
}

/**************************
 FOOTER
**************************/

#footer {
    border: 1px solid black;
    background: #e1e1e1;
    text-align: center;
    line-height: 90px;
    position: absolute;
    width: 100%;
}

#footer .container p {
    margin: 0;
}

/*************************
 GLOBAL
*************************/

.page-header {
    background: #eee;
    margin: 0;
    padding: 25px 0;
}

.page-header h1 {
    font-size: 40px;
}

/*************************
 HAKKIMIZDA
*************************/

#hakkimizda-body{
    border:1px solid;
    border-radius: 8px;
    padding: -10px;
    margin-top: -20px;
    margin-bottom: 30px;
    background: white;
    position: relative;
    font-size: 16px;

}
#hakkimizda-body p{
    padding: -10px;
    margin-top: 30px;
    margin-bottom: 30px;
}



/*************************
 SİSTEM
*************************/

#sistem #sistem-body {
    border:1px solid;
    border-radius: 8px;
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 30px;
    background: white;
    position: relative;
    font-size: 16px;
}

/*************************
 BODY DİV
*************************/

#body{
  border:1px solid;
  border-radius: 8px;
  padding: 10px;
  margin-top: -30px;
  margin-bottom: -30px;
  background: white;
  position: relative;
}

/***********************
DENEME
***********************/

#deneme .page-header{
    background: #eee;
    margin: 0;
    padding: 25px 0;
}

#deneme .page-header h1 {
    margin: 0;
}

#deneme .container {
    padding: 20px 15px;
}

#deneme .container .radio-span {
    float: left;
    margin-left: 20px;
}

#deneme .container .radio-span label{
    display: block;
    text-align: center;
}

#deneme textarea{
  width: 100%;
  height: 200px;
  resize: none;
  padding: 8px;
}
#deneme button{
  float: right;
  margin-right: 15px;
  margin-top: 10px;
  background-color: #56a538;
  color :white;
}


#deneme #part-1 button{
  background-color: #56a538;
  margin-right: 15px;
  color :white;
}

#deneme #part-3 button{
    float: left;
}

#deneme #part-2 {
    display: none;
}

#deneme #part-3 {
    display: none;
}

#deneme #part-2 .part-2-col {
    padding: 0 25px;
}

#deneme #part-2 p.label-title {
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
}

#deneme #part-2 p.label-desc {
    margin-top: 15px;
    font-size: 15px;
}

#deneme #part-2 .input-group {
    width: 100%;
    padding: 5px 0;
}

#deneme #part-2 .input-group input {
    padding: 5px;
    width: 100%;
}

#deneme #part-2 textarea{
    height: 80px;
}

#deneme #part-3 p.info {
    font-size: 20px;
}

#deneme #part-3 .input-group {
    margin: 10px 0;
}

#deneme #part-3 .input-group input{
    padding: 5px;
}

/*************************
 ILETISIM
*************************/

#iletisim .row {
    margin: 20px 0;
}

#iletisim .container {
    padding: 0;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 30px;
    background: white;
    position: relative;
    font-size: 16px;
}
/*************************
SLIDER
*************************/

h1{
    font-size: 40px;
}

.row{
    margin-right: 12px;
    margin-left: 10px;
    margin-top: 27px;
}

.hakkimizda img{
  border: 1px solid black;
  border-radius: 50%;
}

.text  {
  border: 2px solid black;
  background-color:  #fffbd6;
  padding: 25px;
  margin-bottom: 50px;

}
#thumbnail-preview-indicators {
  position: relative;
  overflow: hidden;
}

#thumbnail-preview-indicators .slides .slide-1,
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#thumbnail-preview-indicators,
#thumbnail-preview-indicators .slides,
#thumbnail-preview-indicators .slides .slide-1,
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
  height: 480px;
}

#thumbnail-preview-indicators .slides .slide-1 {
  background-image: url("../images/slider1.jpg");
}

#thumbnail-preview-indicators .slides .slide-2 {
  background-image: url("../images/slider5.jpg");
}

#thumbnail-preview-indicators .slides .slide-3 {
  background-image: url("../images/slider2.jpg");
}

#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
  top: 20%;
  bottom: inherit;
}

#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
  position: relative;
  width: 100px;
  height: 8px;
}

#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
  position: absolute;
  top: 0;
  width: 100px;
  display: none;
  opacity: 0;
  left: 50%;
  margin-top: -80px;
  margin-left: -50px;
}

#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
  display: block;
  opacity: .8;
}

#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{
  opacity: 1;
}

/*************************
 PDF
*************************/

#pdf #header {
    margin-bottom: 20px;
}

#pdf .header-row {
    padding: 0;
}

#pdf .row {
    padding: 15px;
}

#pdf .section-row {
    padding: 0 45px;
}

#pdf .info-row h5{
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
}

#pdf .info-row p{
    font-size: 14px;
}

#pdf .info-row .date {
    margin-top: 10px;
}

#pdf .content-row p{
    font-size: 18px;
}

#pdf .content-row .message{
    border: 1px solid black;
    font-size: 16px;
    padding: 7px;
    min-height: 200px;
}

/*************************
 MEDIA QUERIES
*************************/

@media screen and (max-width: 1000px) {
    header#header .container .company-name img {height: 40px; width:175px;    }
    header#header .container .menu ul li{ text-align: center; width: 100%;}
    header#header .container .menu .navbar .navbar-header .navbar-brand{ display: block; }
    header#header .container .menu .navbar .navbar-collapse { margin-top: 20px;}
    header#header .container .menu .navbar .navbar-collapse ul li{ padding: 7px; }
    .carousel-caption{ text-align: center; font-size: 10px; }
    .carousel-caption h1{ font-size: 14px; }
    header#header .images-menu .container{ padding-left: 0; padding-right: 0;position: relative; }
    header#header .images-menu .container img{ margin-top: 0;}
}

@media screen and (max-width : 480px) {
    #thumbnail-preview-indicators .carousel-indicators li,
    #thumbnail-preview-indicators .carousel-indicators li.active { width: 50px; height: 8px; position: relative; }
    #thumbnail-preview-indicators .carousel-indicators li > .thumbnail { width: 50px; left: 50%; margin-top: -50px; margin-left: -25px; }
}

@media screen and (max-width: 576px) {
  header#header .images-menu .container .list-inline > li{ padding-right: 0; padding-left:0;}
}
