/**************************
 HEADER
**************************/

header#header ul{
    margin: 0;
}

header#header .container .company-name {
    height: 80px;
}

header#header .container .company-name h1{
    font-weight: bold;
    color: green;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.37);
}

header#header .container .menu ul li:first-child{
    padding-left: 0;
}

header#header .container .menu ul li{
    padding: 0 2rem;
}

header#header .container .menu ul li a{
    color: #5f5d5d;
    font-size: 2rem;
}

header#header .container .menu ul li a:hover{
    text-decoration: none;
}

header#header .container .menu .navbar {
    min-height: auto;
    margin-top: 20px;
}

header#header .container .menu .navbar .navbar-collapse {
    border: 0;
    overflow: hidden;
}


header#header .container .menu .navbar .navbar-header .navbar-brand{
    display: none;
    font-weight: bold;
    color: green;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.37);
    font-size: 3rem;
}

header#header .container .menu .navbar-default {
    background: none;
    border: none;
}

header#header .container .menu .navbar #bs-example-navbar-collapse-1{
    padding-left: 0;
    padding-right: 0;
}

header#header .container .menu .navbar #bs-example-navbar-collapse-1 ul li a{
    padding: 0;
}

header#header .container .menu .navbar #bs-example-navbar-collapse-1 ul li a:hover{
    background: none;
    color: #383535;
    font-weight: bold;
    font-size: 2.2rem;
}

header#header .images-menu {
    background: #56a538;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

header#header .images-menu .container {
    /*height: 100px;*/
    line-height: 100px;
}

header#header .after-header{
    height: 90px;
    border: 1px solid black;
    background: #e1e1e1;
}

header#header .sprite {
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
}

/**************************
 FOOTER
**************************/

#footer {
    height: 90px;
    border: 1px solid black;
    background: #e1e1e1;
    text-align: center;
    line-height: 90px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*************************
 BODY DİV
*************************/

#body{
  border:1px solid;
  border-radius: 8px;
  padding: 10px;
  margin-top: -30px;
  margin-bottom: -30px;
  background: white;
  position: relative;
}

/***********************
CAROUSEL
***********************/

.carousel-inner{
  width: 100%;
  height: auto;
  margin-top: -30px;
  margin-bottom: -30px;
}

.carousel-caption{
  text-align: center;
}

.carousel-inner .item img{
  width: 100%;
}

/*************************
 MEDIA QUERIES
*************************/

@media screen and (max-width: 768px) {
    header#header .container .company-name h1{ font-size: 26px;}
    header#header .container .menu ul li{ text-align: center; width: 100%;}
    header#header .container .menu .navbar .navbar-header .navbar-brand{ display: block; }
    header#header .container .company-name { display: none; }
    header#header .container .menu .navbar .navbar-collapse { margin-top: 20px;}
    header#header .container .menu .navbar .navbar-collapse ul li{ padding: 7px; }
    .carousel-caption{ text-align: center; font-size: 10px; }
    .carousel-caption h1{ font-size: 14px; }
}
/*************************
 iletisim page
*************************/
